<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="author" content="PIXINVENT">
<title>Detection and Warning System</title>
<link rel="stylesheet" type="text/css" href="app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="app-assets/css/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.css">
</head>
<body>
<div class="content-wrapper">
  <div class="content-header ">
    <div class="content-header-left mb-2">
      <h3 class="content-header-title mb-0">Cameras</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
       <!--  <div class="searchbox">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="请填写设备号">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请填写设备名">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请填写机器码">
            </div>
            <div class="form-group">
              <select class="form-control" >
                <option>全部设备集群</option>
              </select>
            </div>

            <div class="form-group">
              <select class="form-control" >
                <option>全部在线状态</option>
              </select>
            </div>
			  <div class="form-group">
              <button type="submit" class="btn btn-primary">查询</button>
            </div>
            
          </form>
        </div>
-->
       <div class="funcbtn clearfix">
          <div class="pull-left"><a class="btn btn-info" href="#"  data-toggle="modal" data-target="#myModal">   Add Cameras</a></div>
        </div>
        <div class="tablebox1">
          <table class="table">
            <thead>
              <tr>
				  													
				  				
                <th>ID</th>
                <th>Camera names	</th>
                <th>operations</th>

                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>camera1</td>

                <td>
				  <a href="#" class="btn btn-primary btn-td"   data-toggle="modal" data-target="#myModal">rename</a>
				  <a href="#" class="btn btn-danger btn-td">delete</a>
                  <a href="http://127.0.0.1:8081/detection" class="btn btn-primary btn-td" target="iframe1">view</a>
				  </td>
              </tr>
<!--              <tr>-->
<!--                <td>2</td>-->
<!--                <td>camara2</td>-->
<!--             <td>-->
<!--				  <a href="#" class="btn btn-td btn-primary"   data-toggle="modal" data-target="#myModal">修改</a>-->
<!--				  <a href="#" class="btn btn-danger btn-td">删除</a>-->
<!--				  </td>-->
<!--              </tr>-->
				
            </tbody>
          </table>
 
			<div class="page clearfix">
						<div class="pull-left">A total of 1 records.    Page 1 / 80</div>
						<div class="pull-right">
							
							<nav aria-label="..." class="pull-left">
								  <ul class="pagination">
									<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
								 </ul>
							   </nav>
							
							<div class="pull-left p-r-20  p-l-20"><select class="form-control"><option>10 cameras per page</option></select></div>
							<div class="pull-left">Jump to page<input type="text" value="5" class="form-control"></div>
							</div>
							
						</div>
			
		  </div>
      </div>
    </div>
  </div>
</div>


<script src="app-assets/js/vendors.min.js" type="text/javascript"></script> 
<script src="app-assets/js/app-menu.js" type="text/javascript"></script> 
<script src="app-assets/js/app.js" type="text/javascript"></script> 
<script src="app-assets/js/echarts.min.js" type="text/javascript"></script> 
<script>
$(document).ready(function(){
  $(".ewm").click(function(){
    $(this).toggleClass("active")
  });
});
</script>
</body>
</html>